img {
    width: 150px;
    
  }

.conteudo{
    width: auto;
    margin: 0 auto;
    border-bottom: 4px black solid;
    background-color: #00828f;
    font-family: 'Cardo';
       
}
.texto{
    font-family: 'Source Sans Pro', sans-serif;
}
.item{
    margin: 5px;
    text-align: center;
    color: white;
    font-family: 'Cardo';
    
    
}

.alinha{
    display: flex;
    align-content: center;
    align-items: center;
    
}